body {
    font-family: "Gill Sans", sans-serif;
    background: rgb(193, 239, 243);
    margin: 10px;
    align: center;
    margin: 100px;
    color: blue;
    font-size: 1.2em;
    }
    
    .Todo-Item:hover .trash-icon{
      display:block;
    }
    
