body {
    font-family: "Gill Sans", sans-serif;
    background: rgb(74,74,74);
    margin: 20px;
    color: blue;
    font-size: 1.4eml;
    }
    
    .Todo-Item:hover .trash-icon{
      display:block;
    }
    
